<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
		
	<bean name="/goods" class="com.accp.myoa.web.action.GoodsAction">
		<property name="goodsService" ref="goodsService"></property>
		<property name="tmpService" ref="tmpService"></property>
		<property name="usersService" ref="usersService"></property>
		<property name="tradeGoodsService" ref="tradeGoodsService"></property>
	</bean>	
	<bean name="/user" class="com.accp.myoa.web.action.UserAction">		
		<property name="usersService" ref="usersService"></property>
		<property name="rechargeService" ref="rechargeService"></property>
		<property name="tradeLogService" ref="tradeLogService"></property>
	</bean>
	<bean name="/trade" class="com.accp.myoa.web.action.TradeAction">		
		<property name="usersService" ref="usersService"></property>
		<property name="cardsService" ref="cardsService"></property>
		<property name="singleCardInfoService" ref="singleCardInfoService"></property>
		<property name="tradeLogService" ref="tradeLogService"></property>
	</bean>
	
	<bean name="/admin" class="com.accp.myoa.web.action.AdminAction">		
		<property name="usersService" ref="usersService"></property>
		<property name="cardPriceService" ref="cardPriceService"></property>
		<property name="tradeLogService" ref="tradeLogService"></property>
		<property name="cardsService" ref="cardsService"></property>
		<property name="singleCardInfoService" ref="singleCardInfoService"></property>
	</bean>
</beans>