<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 我用到的Service -->
	<bean id="goodsService" class="com.accp.myoa.service.impl.GoodsServiceImpl">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	<bean id="tmpService" class="com.accp.myoa.service.impl.TmpServiceImpl">
		<property name="tmpDao" ref="tmpDao"></property>
	</bean>
	<bean id="usersService" class="com.accp.myoa.service.impl.UsersServiceImpl">
		<property name="usersDao" ref="usersDao"/>
	</bean>
	<bean id="tradeGoodsService" class="com.accp.myoa.service.impl.TradeGoodsServiceImpl">
		<property name="tradeGoodsDao" ref="tradeGoodsDao"></property>
	</bean>
	<bean id="cardsService" class="com.accp.myoa.service.impl.CardsServiceImpl">
		<property name="cardsDao" ref="cardsDao"></property>
	</bean>
	<bean id="singleCardInfoService" class="com.accp.myoa.service.impl.SingleCardInfoServiceImpl">
		<property name="singleCardInfoDao" ref="singleCardInfoDao"></property>
	</bean>
	<bean id="tradeLogService" class="com.accp.myoa.service.impl.TradeLogServiceImpl">
		<property name="tradeLogDao" ref="tradeLogDao"></property>
	</bean>
	<bean id="rechargeService" class="com.accp.myoa.service.impl.RechargeServiceImpl">
		<property name="rechargeDao" ref="rechargeDao"></property>
	</bean>
	<bean id="cardPriceService" class="com.accp.myoa.service.impl.CardPriceServiceImpl">
		<property name="cardPriceDao" ref="cardPriceDao"></property>
	</bean>
</beans>