<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 我用到的Service -->
	<bean id="goodsService" class="com.accp.myoa.service.impl.GoodsServiceImpl">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
</beans>